

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #b91450;
    width: 100vw;
    text-align: center;
}
.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

#input_box,
#ticket_box {
    width: 80%;
    min-height: 140px;
    background: #ffffff;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    align-items: center;
}

#input_box {
    border-radius: 10px;
    box-shadow: 0px 0px 4px 3px grey;
}

#ticket_form {
    width: 100%;
}

.row {
    justify-content: space-around;
}

label,
.row.input {
    color: #b91450;
    padding: 20px;
}

#bt_genera,
#bt_annulla {
    font-weight: bold;
    color: #b91450;
    padding: 2px 5px;
    margin: 0 5px;
}

#titolo, h2 {
    color: white;
    text-align: center;
    text-transform: uppercase ;
    line-height: 20px;
    margin-bottom: 10px;
}
#titolo {
    margin:40px 0;
}
input {
    border: 1px solid #b91450;
}

#ticket {
    visibility: hidden;
    transition: all 0.8s linear;
}
h3 {
    text-align: left;
}

.col {
    display: flex;
    flex-flow: column wrap;
}

table {
    width: 100%;
    padding: 10px;
    margin: auto;
    text-align: left;
    border: 1px solid black;
}



.ticket_form input {
    border: 1px solid #b91450;
    border-radius: 5px;
}