
/* Reset Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility Class */
.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}
/* BODY */
body {
    min-width: 650px;
    width: 100vw;
    color: #030303;
    background: #b91450;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}
/* MAIN */

/* Typography */
#titolo {
    line-height: 32px;
    margin: 40px 0;
}
#titolo,
h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

h3 {
    text-align: left;
    text-transform: uppercase;
}


#input_box,
#ticket_box {
    width: 80%;
    min-height: 140px;
    background: #ffffff;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    align-items: center;
}

/* input_box - info input */
#input_box {
    border-radius: 10px;
    box-shadow: 0px 0px 4px 3px grey;
}

#ticket_form {
    width: 100%;
}

.row {
    justify-content: space-around;
}

label,
.row.input {
    color: #b91450;
    padding-bottom: 20px;
}

.row.input {
    margin-top: 30px;
}


input[type=text],
input[type=number],
select,
input[type=submit],
input[type=button] {
    font-weight: 500;
    padding: 8px 10px;
    border: 1px solid #b91450;
    text-align: center;
    border-radius: 5px;
    text-transform: capitalize;
}

input[type=submit],
input[type=button] {
    font-size: 1.02rem;
    font-weight: bold;
    color: #b91450;
    margin: 0 5px;
}

#ticket {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.col {
    display: flex;
    flex-flow: column wrap;
}

table {
    min-height: 178px;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: solid black;
    border-width: 1px 0px 1px 2px;
    border-collapse: collapse;
}

thead>tr>th,
tbody>tr>td {
    padding: 10px 10px 0 10px;
    text-transform: capitalize;
}

thead>tr>th:first-of-type,
tbody>tr>td:first-of-type {
    background-color: #808080;
    width: 20%;
}

tbody>tr>td {
    font-weight: 500;
}

thead>tr>th:first-of-type {
    text-transform: uppercase;
}

tbody>tr>td:first-of-type {
    vertical-align: super;
    font-size: 20px;
    font-weight: bold;
}
